$primary-color: #212121;
$primary-light: #EEEEEE;
$primary-dark: #424242;
$secondary-color: #03A9F4;
$secondary-light: #E1F5FE;
$theme-grey: #E0E0E0;
$theme-grey-light: #F5F5F5;
$theme-grey-lightest: #FAFAFA;
$green: #4CAF50;
