*{
    box-sizing: border-box;
    user-select: none;
}

html, body{
    height: 100%;
}

body{
    font: small 'Open Sans', sans-serif;
    background: #FC0;
}

h1{
    width: 100%;
    margin: 0;
    font-family: 'Bungee Shade', cursive;
    text-align: center;
    font-size: 2.5em;
}

h2{
    width: 100%;
    text-align: center;
    font-size: 2em;
}

p{
    width: 100%;
    text-align: center;
    margin: 0;

    span{
        display: inline-block;
        border: 1px solid #000;
        padding: 2px 10px;
        margin: 2px;
    }
}

.touch-visible, .notouch-visible{
    display: none;
}

.touch .touch-visible{
    display: block;
}

.notouch .notouch-visible{
    display: block;
}

.table{
    display: flex;
    min-height: 100%;
    flex-flow: row wrap;
    align-items: center;
}

.card{
    position: absolute;
    top: 0;
    width: 120px;
    height: 140px;
    margin: 0 10px 0 3px;
    border: 1px solid #000;
    background: #FFF;
    box-shadow: 3px 3px 0 0 #000;
    transition: margin 0.2s ease;
    cursor: pointer;
    z-index: 0;

    &:nth-child(1){
        z-index: 1;
    }

    img{
        position: absolute;
        display: block;
        width: 80%;
        height: auto;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    &.selected{
        z-index: 2;
    }

    #playerA & img{
        transform: scaleX(-1) translateX(50%) translateY(-50%);
    }

    &.hidden{
        background: #CCC;
        background-image: repeating-linear-gradient(45deg, #CCC, #CCC 10px, #999 10px, #999 20px);

        img{
            display: none;
        }

        &.selected{
            background: #FFF;

            img{
                display: block;
            }
        }
    }
}

.result{
    width: 100%;
    padding: 30px 0;
    font-size: 4em;
    text-align: center;
}

.player{
    width: 50%;
    padding: 0 20px;
    text-align: center;
    
    &-weapons{
        position: relative;
        display: flex;
        max-width: 400px;
        height: 150px;
        margin: 0 auto;
        justify-content: center;
        align-items: flex-end;
    }
}

@media(min-width: 768px){
    .card{
        position: relative;

        &.selected{
            margin-bottom: 10px;
        }
    }
}