<!doctype html>
<html>
<head>
    <title>Rock - Paper - Scissors</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <section class="table">
        <h1>Rock // Paper // Scissor</h1>
        <h2 class="notouch-visible">Select your weapon to start the battle</h2>
        <p class="notouch-visible">You can use the keyboard <span>&#8592;</span> <span>&#8594;</span> to select the weapon and <span>space bar</span> or <span>enter</span> to play</p>
        <h2 class="touch-visible">Slide left or right to select the weapon and tap the card to play</h2>
        <div id="result" class="result">&nbsp;</div>
        <div id="playerA" class="player"></div>
        <div id="playerB" class="player"></div>
    </section>
</body>
</html>
