<!doctype html>
<html>
<head>
    <title>Rock - Paper - Scissors</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Rock // Paper // Scissor</h1>
    <section class="table">
        <h2>Select your weapon to start the battle</h2>
        <div id="weapons"></div>
        <div id="playerA"></div>
        <div id="playerB"></div>
    </section>
    <aside class="board">
        
    </aside>
</body>
</html>
